$size: 300px;

$yellow: rgb(254, 191, 0);
$red: rgb(239, 49, 55);
$orange: rgb(255, 127, 0);
$pink: rgb(238, 91, 159);
$aquamarine: rgb(21, 168, 157);
$purple: rgb(165, 28, 101);
$blue: rgb(68, 115, 211);
